.hero {
    position: relative;
    text-align: center;
  }
  
  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    max-height: 500px;
    overflow: hidden;
    background-position: center top;
  }
  
  .heroDetails {
    position: absolute;
    color: #fff;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  @media(min-width: 600px) {
    .heroDetails {
      font-size: 16px;
    }
  }
  
  @media(min-width: 1000px) {
    .heroDetails {
      font-size: 20px;
    }
  }
  
  .heroHeadline {
    margin: 0.5em;
    font-size: 2.5em;
  }
  
  .heroTitle {
    margin: 0;
    font-size: 1.125em;
    font-weight: bold;
  }
